@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body {
    background: linear-gradient(90deg, #0028c7 0%, #000000 100%);
    font-family: Michroma, serif;
}
p {
    color: aquamarine;
}

.nav-link {
    color: rgb(255, 127, 127);
}

.navbar-nav .nav-link.active {
    color: rgb(0, 226, 136);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(168, 168, 168);
}

.sidebar {
    color: rgb(206, 206, 206);
    background: linear-gradient(270deg, #000dc2 0%, #171717 100%);
}
header {
    background-color: #171717;
}
.card {
    color: aquamarine;
    background: linear-gradient(270deg, #000dc2 0%, #171717 100%);
}
.card a {
    text-decoration: none;
    color: aquamarine;
}
.slide-text {
    color: aquamarine;
    margin: auto auto;
}
@media (max-width: 755px) {
   .carousel-indicators {
    display:none;
   } 
}
.footer-text {
    color: aquamarine;
    margin: auto auto;
}
footer,.btn-outline-primary {
    background: linear-gradient(270deg, #000dc2 0%, #171717 100%);

}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anima {
    animation: myAnim 2s linear 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}